<mat-card>
  <mat-card-content>
    <div class="flex-container">
      <div class="flex-children box" style="width:25%">
        <h1 class="mat-h1">CBBL </h1>
        <span style="font-size: 1rem;">Chhimek lagubitta Sanstha Limited</span>
        <p class="mat-h1">1275 +10.08 ( +0.62%) </p>
        <span>At close: August 28 2013</span>
        <div style="margin-top:10px">
          <button mat-raised-button color="primary">Primary</button>

          <button mat-raised-button color="accent">Accent</button>

        </div>
      </div>
      <div class="flex-children" style="width: 75%;">
        <div class="flex-container">
          <div class="flex-children box">
            <h3 class="primary">Volume Information</h3>
            <p>Total Transaction: 122</p>
            <p>Total Traded Quanity: 1500</p>
          </div>
          <div class="flex-children box">
            <h3>Price Information</h3>
            <p>Open Price: 1099</p>
            <p>Close Price: 1099</p>
            <p>Previous Day close Price: 1095</p>
            <p>1 Year High Price: 1099</p>
            <p>1 Year Low price: 1099</p>
            <p>Last Traded Price: 1087 V -8.00 (0.37%)</p>
          </div>
          <div class="flex-children box">
            <h3>Capital Information</h3>
            <p>Total Listed Shares: 1500000</p>
            <p>Total PaidUp Value: 1500000</p>
            <p>Market Capitalization: 1500000</p>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>


  <div class="flex-container">
    <div class="flex-children">
      <mat-toolbar>
        <span>Company News</span>
      </mat-toolbar>
    </div>
    <div class="flex-children">
      <mat-toolbar>
        <span>Visual Chart</span>
      </mat-toolbar>
      <!-- Vertical TAB-->
      <mat-tab-group>
        <mat-tab label="Tab One">
          Tab One Content
        </mat-tab>
        <mat-tab label="Tab Two">
          Tab Two Content
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</mat-card>
